@layout("/common/_container.html",{bg:"bg-white",js:["/assets/modular/estate/view/view_edit.js"]}){
<form id="viewForm" lay-filter="viewForm" class="layui-form model-form">
    <input name="viewId" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label">来源id<span style="color: red;">*</span></label>
        <div class="layui-input-block">
            <input id="resourceId" name="resourceId" placeholder="请输入来源id" type="text" class="layui-input" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">视图路径<span style="color: red;">*</span></label>
        <div class="layui-input-block">
            <input id="viewPath" name="viewPath" placeholder="请输入视图路径" type="text" class="layui-input" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">视图类型<span style="color: red;">*</span></label>
        <div class="layui-input-block">
            <input id="viewType" name="viewType" placeholder="请输入视图类型" type="text" class="layui-input" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建时间<span style="color: red;">*</span></label>
        <div class="layui-input-block">
            <input id="createTime" name="createTime" placeholder="请输入创建时间" type="text" class="layui-input" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改时间<span style="color: red;">*</span></label>
        <div class="layui-input-block">
            <input id="updateTime" name="updateTime" placeholder="请输入修改时间" type="text" class="layui-input" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item text-right">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="btnSubmit" lay-submit>保存</button>
    </div>
</form>
@}