<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.estate.mapper.FollowInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.estate.entity.FollowInfo">
        <id column="follow_info_id" property="followInfoId" />
        <result column="house_resource_id" property="houseResourceId" />
        <result column="staff_name" property="staffName" />
        <result column="dept_id" property="deptId" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        follow_info_id AS "followInfoId", house_resource_id AS "houseResourceId", staff_name AS "staffName", dept_id AS "deptId", content AS "content", create_time AS "createTime", update_time AS "updateTime"
    </sql>

    <select id="list" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from follow_info where 1 = 1
    </select>

</mapper>
